extends layout

block content

    .cabLoadingPage
        br
        br
        img(src="https://lh3.ggpht.com/ql1z4LGSvxHmKxAFHgUOxm6PajxGwu-1Qf4oTL4u8u4pg-lDfVkfY01hnoXv6PTV5Q=w300")
        h1 #{ride.ride} 
        h1 #{ride.wait} minutes away

    audio(src='/sound/jetcar.mp3', class="audioLink" autoplay="autoplay", controls='controls')

