<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/hailCab.js"></script>

    <div class="cabLoadingPage">

        <br>
        <br>

        <img src="https://lh3.ggpht.com/ql1z4LGSvxHmKxAFHgUOxm6PajxGwu-1Qf4oTL4u8u4pg-lDfVkfY01hnoXv6PTV5Q=w300">

        <h1>Uber x</h1>
        <h1>3 minutes away</h1>

        <audio src='../public/sound/jetcar.mp3' class='audioLink' autoplay="autoplay" controls="controls">

    </div>
